<form action="/checkLoginData" method="post" >
    <table border="1">
        <tr>
            <td>Enter Contact</td>
            <td><input type="text" name="contact"></td>
        </tr>

        <tr>
            <td>Enter Password</td>
            <td><input type="text" name="password"></td>
        </tr>
         <tr>
            <td></td>
            <td><input type="submit" value="Login" ></td>
        </tr>
    </table>
</form>

<a href="/view_record">View</a> || <a href="/view_record_custom">Custom View</a>

<a href="/login">Login</a>